.settings-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    isolation: isolate;
    position: absolute;
    width: 606px;
    height: 248px;
    left: 23px;
    top: 212px;
    margin-left:8px;
}

.settings-right-box{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    position: absolute;
    width: 789px;
    height: 564px;
    left: 700px;
    top: 212px;
    background: #FFFFFF;
    border-radius: 20px;   
}

.right-box-settings{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 24px;
    position: absolute;
    width: 789px;
    height: 564px;
    left: 700px;
    top: 212px;
    background: #FFFFFF;
    border-radius: 20px;
}

.top-right-button{
    background-color: #793EF5;
    color:#FFFFFF;
}

h4{

    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    font-feature-settings: 'liga' off;
    color: #333333;
    margin-bottom: 0px;
    margin-top: 0px;

}

p{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    display: flex;
    align-items: center;
    letter-spacing: 0.3px;
    font-feature-settings: 'liga' off;
    color: #333333;
      
}

.title{
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    font-feature-settings: 'liga' off;
    color: #333333;
}